In [1]:
import pandas as pd

In [2]:
#extrating info from below website
df =pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)')

In [3]:
#checking the no of tables in the website 
len(df)

24

In [4]:
#extracting the second table
df[1]

,No. overall,No. in season,Title,Directed by,Written by,Original air date,Prod. code,U.S. viewers (millions)
0,1,1,"""Simpsons Roasting on an Open Fire""",David Silverman,Mimi Pond,"December 17, 1989[47]",7G08,26.7[48]
1,2,2,"""Bart the Genius""",David Silverman,Jon Vitti,"January 14, 1990[49]",7G02,24.5[48]
2,3,3,"""Homer's Odyssey""",Wes Archer,Jay Kogen & Wallace Wolodarsky,"January 21, 1990[50]",7G03,27.5[51]
3,4,4,"""There's No Disgrace Like Home""",Gregg Vanzo & Kent Butterworth,Al Jean & Mike Reiss,"January 28, 1990[52]",7G04,20.2[53]
4,5,5,"""Bart the General""",David Silverman,John Swartzwelder,"February 4, 1990[54]",7G05,27.1[55]
5,6,6,"""Moaning Lisa""",Wes Archer,Al Jean & Mike Reiss,"February 11, 1990[56]",7G06,27.4[57]
6,7,7,"""The Call of the Simpsons""",Wes Archer,John Swartzwelder,"February 18, 1990[58]",7G09,27.6[59]
7,8,8,"""The Telltale Head""",Rich Moore,"Al Jean, Mike Reiss, Sam Simon & Matt Groening","February 25, 1990[60]",7G07,28.0[61]
8,9,9,"""Life on the Fast Lane""",David Silverman,John Swartzwelder,"March 18, 1990[62]",7G11,33.5[63]
9,10,10,"""Homer's Night Out""",Rich Moore,Jon Vitti,"March 25, 1990[64]",7G10,30.3[65]
10,11,11,"""The Crepes of Wrath""",Wes Archer & Milton Gray,"George Meyer, Sam Simon, John Swartzwelder & J...","April 15, 1990[66]",7G13,31.2[67]
11,12,12,"""Krusty Gets Busted""",Brad Bird,Jay Kogen & Wallace Wolodarsky,"April 29, 1990[68]",7G12,30.4[69]
12,13,13,"""Some Enchanted Evening""",David Silverman & Kent Butterworth,Matt Groening & Sam Simon,"May 13, 1990[70]",7G01,27.1[71]

In [5]:
#reading file from Html directly
df1 = pd.read_html("https://en.wikipedia.org/wiki/Jumong_(TV_series)")

In [6]:
df1[1]

          Date  Episode   Nationwide        Seoul
0   2006-05-15        1  16.3% (3rd)  17.5% (3rd)
1   2006-05-16        2  18.4% (3rd)  19.2% (3rd)
2   2006-05-22        3  21.8% (1st)  23.6% (1st)
3   2006-05-23        4  25.3% (2nd)  26.6% (2nd)
4   2006-05-29        5  28.0% (1st)  29.9% (1st)
..         ...      ...          ...          ...
77  2007-02-26       78  47.2% (1st)  47.1% (1st)
78  2007-02-27       79  50.6% (1st)  50.9% (1st)
79  2007-03-05       80  49.8% (1st)  50.0% (1st)
80  2007-03-06       81  51.9% (1st)  52.7% (1st)
81     Average  Average       40.98%       41.83%

[82 rows x 4 columns]

In [7]:
#download cvs file from the internet using pandas 
league25 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2425/E0.csv")
league25

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,09/11/2024,20:00,Liverpool,Aston Villa,2,0,H,1,0,...,2.05,1.88,2.06,1.88,2.12,1.88,2.04,1.83,2.13,1.88
106,E0,10/11/2024,14:00,Man United,Leicester,3,0,H,2,0,...,1.92,2.01,1.96,1.96,1.96,2.04,1.90,1.96,1.98,1.98
107,E0,10/11/2024,14:00,Nott'm Forest,Newcastle,1,3,A,1,0,...,2.01,1.92,2.00,1.93,2.05,1.94,1.99,1.90,2.04,1.95
108,E0,10/11/2024,14:00,Tottenham,Ipswich,1,2,A,0,2,...,1.86,2.07,1.88,2.03,1.88,2.09,1.84,2.03,1.91,2.08
109,E0,10/11/2024,16:30,Chelsea,Arsenal,1,1,D,0,0,...,1.73,2.08,1.77,2.15,1.85,2.16,1.81,2.05,1.84,2.17

In [8]:
#renaming some column
league25.rename({"FTHG": "Home_goal",
                           "FTAG":"Away_goal"}, inplace=True)

In [9]:
print(league25)

    Div        Date   Time       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0    E0  16/08/2024  20:00     Man United       Fulham     1     0   H     0
1    E0  17/08/2024  12:30        Ipswich    Liverpool     0     2   A     0
2    E0  17/08/2024  15:00        Arsenal       Wolves     2     0   H     1
3    E0  17/08/2024  15:00        Everton     Brighton     0     3   A     0
4    E0  17/08/2024  15:00      Newcastle  Southampton     1     0   H     1
..   ..         ...    ...            ...          ...   ...   ...  ..   ...
105  E0  09/11/2024  20:00      Liverpool  Aston Villa     2     0   H     1
106  E0  10/11/2024  14:00     Man United    Leicester     3     0   H     2
107  E0  10/11/2024  14:00  Nott'm Forest    Newcastle     1     3   A     1
108  E0  10/11/2024  14:00      Tottenham      Ipswich     1     2   A     0
109  E0  10/11/2024  16:30        Chelsea      Arsenal     1     1   D     0

     HTAG  ... B365CAHH B365CAHA  PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  \
0       0  ...     1.86     2.07   1.83   2.11     1.88     2.11     1.82
1       0  ...     2.05     1.88   2.04   1.90     2.20     2.00     1.99
2       0  ...     2.02     1.91   2.00   1.90     2.05     1.93     1.99
3       1  ...     1.87     2.06   1.86   2.07     1.92     2.10     1.83
4       0  ...     1.87     2.06   1.88   2.06     1.89     2.10     1.82
..    ...  ...      ...      ...    ...    ...      ...      ...      ...
105     0  ...     2.05     1.88   2.06   1.88     2.12     1.88     2.04
106     0  ...     1.92     2.01   1.96   1.96     1.96     2.04     1.90
107     0  ...     2.01     1.92   2.00   1.93     2.05     1.94     1.99
108     2  ...     1.86     2.07   1.88   2.03     1.88     2.09     1.84
109     0  ...     1.73     2.08   1.77   2.15     1.85     2.16     1.81

     AvgCAHA  BFECAHH  BFECAHA
0       2.05     1.90     2.08
1       1.88     2.04     1.93
2       1.87     2.02     1.96
3       2.04     1.88     2.11
4       2.05     1.89     2.10
..       ...      ...      ...
105     1.83     2.13     1.88
106     1.96     1.98     1.98
107     1.90     2.04     1.95
108     2.03     1.91     2.08
109     2.05     1.84     2.17

[110 rows x 120 columns]

In [10]:
#saving the extracted file into my local folder in csv format
league25.to_csv(r"C:\Users\HP\Desktop\data science folder\League_25.csv")

In [11]:
import camelot

In [12]:
#imoprting table from pdf file using camelot
table = camelot.read_pdf("C:\\Users\\HP\\Desktop\\foo.pdf", pages='1')

In [13]:
print(table)

<TableList n=1>

In [14]:
table.export("foo.csv", f="csv", compress=True)
table[0].to_csv("C:\\Users\\HP\\Desktop\\data science folder\\foo.csv")